.aparencia {
    display: flex;
    font-size: 1.5rem;
    padding: 0px 45px;
    gap: 20px;
    align-items: center;
}
.aparencia p {
    color: black;
    font-weight: bolder;
}

.aparencia span {
    color: rgba(34, 32, 32, 0.829);
}
