@media (max-width:640px) {

 

    .menu {
        /* display: none; */
        font-size: 1rem;
        gap: 15px;
        
    }

    .heroi {
        height: 280px;
        width: 280px;
    }
    .title {
        font-size: 2rem;
    }

    .busca{
        width: 280px;
    }

    .box {
        width: 300px;
    }

    .barra-total {
        width: 225px;
    }

    .aparencia {
        font-size: 1rem;
    }
    .biografia {
        font-size: 1.1rem;
    }

    .afiliacao  h2{
        font-size: 1.5rem;
    }

    .afiliacao  p{
        font-size: 1rem;
    }

    .parentes  h2{
        font-size: 1.5rem;
    }

    .parentes  p{
        font-size: 1rem;
    }

    .porcentagem {
        font-size: .8rem;
        width: 35px;
        height: 25px;
    }
    
    .status {
        font-size: 1.1rem;
    }

    footer {
        padding: 25px 0px;
    }



}